@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  background-image: radial-gradient(ellipse at top, var(--tw-gradient-stops));
  @apply from-neutral-800 via-neutral-950 to-black text-neutral-50 antialiased min-h-screen selection:bg-green-500/30;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }

  .glass-dock {
    @apply bg-black/40 backdrop-blur-xl border border-white/5 shadow-2xl;
  }

  .text-glow {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
  }
}


/* Custom TV Scrollbar - Global Scope - Forced */
.scrollbar-thick-custom {
  scrollbar-width: auto;
  scrollbar-color: #525252 #171717;
}

.scrollbar-thick-custom::-webkit-scrollbar {
  height: 32px !important;
  width: 32px !important;
}

.scrollbar-thick-custom::-webkit-scrollbar-track {
  background: #171717 !important;
  border-radius: 0px;
}

.scrollbar-thick-custom::-webkit-scrollbar-thumb {
  background-color: #525252 !important;
  border-radius: 8px;
  border: 4px solid #171717 !important;
}

.scrollbar-thick-custom::-webkit-scrollbar-thumb:hover {
  background-color: #22c55e !important;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
  min-width: 100%;
}

.animate-marquee:hover {
  animation-play-state: paused;
}